<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.project.db.dao.ZkListMapper">

    <resultMap type="com.xf.project.db.domain.ZkList" id="ZkListResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
        <result property="cType"    column="c_type"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delType"    column="del_type"    />
        <result property="lan"    column="lan"    />

    </resultMap>

    <sql id="selectZkListVo">
        select id, name, content, c_type, add_time, update_time, del_type, lan from zk_list
    </sql>

    <select id="selectZkListList" parameterType="com.xf.project.db.domain.ZkList" resultMap="ZkListResult">
        <include refid="selectZkListVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="cType != null "> and c_type = #{cType}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="delType != null "> and del_type = #{delType}</if>
            <if test="lan != null and lan !=''"> and lan = #{lan}</if>

        </where>
    </select>

    <select id="selectZkListById" parameterType="Long" resultMap="ZkListResult">
        <include refid="selectZkListVo"/>
        where id = #{id}
    </select>

    <insert id="insertZkList" parameterType="com.xf.project.db.domain.ZkList" useGeneratedKeys="true" keyProperty="id">
        insert into zk_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="cType != null ">c_type,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delType != null ">del_type,</if>
            <if test="lan != null and lan != ''">lan,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="cType != null ">#{cType},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delType != null ">#{delType},</if>
            <if test="lan != null and lan != ''">#{lan},</if>

        </trim>
    </insert>

    <update id="updateZkList" parameterType="com.xf.project.db.domain.ZkList">
        update zk_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="cType != null ">c_type = #{cType},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delType != null ">del_type = #{delType},</if>
            <if test="lan != null and lan != ''">lan = #{lan},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZkListById" parameterType="Long">
        delete from zk_list where id = #{id}
    </delete>

    <delete id="deleteZkListByIds" parameterType="String">
        delete from zk_list where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
