<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.project.db.dao.ZkProductMapper">

    <resultMap type="com.xf.project.db.domain.ZkProduct" id="ZkProductResult">
        <result property="id"    column="id"    />
        <result property="pType"    column="p_type"    />
        <result property="pName"    column="p_name"    />
        <result property="pImagePath"    column="p_image_path"    />
        <result property="pModel"    column="p_model"    />
        <result property="pIntroduce"    column="p_introduce"    />
        <result property="lan"    column="lan"    />

    </resultMap>

    <sql id="selectZkProductVo">
        select id, p_type, p_name, p_image_path, p_model, p_introduce,lan from zk_product
    </sql>

    <select id="selectZkProductList" parameterType="com.xf.project.db.domain.ZkProduct" resultMap="ZkProductResult">
        <include refid="selectZkProductVo"/>
        <where>
            <if test="pType != null "> and p_type = #{pType}</if>
            <if test="pName != null  and pName != ''"> and p_name like concat('%', #{pName}, '%')</if>
            <if test="pImagePath != null  and pImagePath != ''"> and p_image_path = #{pImagePath}</if>
            <if test="pModel != null  and pModel != ''"> and p_model = #{pModel}</if>
            <if test="pIntroduce != null  and pIntroduce != ''"> and p_introduce = #{pIntroduce}</if>
            <if test="lan != null  and lan != ''"> and lan = #{lan}</if>
        </where>
    </select>
    <select id="selectZkProductListByType" parameterType="String" resultMap="ZkProductResult">
        select id, p_type, p_name, p_image_path, p_model, p_introduce,lan
        from zk_product
        <where>
            <if test="type != null ">
                p_type in (select c.value from zk_category c where c.type = #{type})
            </if>

             <if test="zkProduct.lan != null  and zkProduct.lan != ''"> and lan = #{zkProduct.lan}</if>
<!--        <where>-->
            <if test="zkProduct.pName != null  and zkProduct.pName != ''"> and p_name like concat('%', #{zkProduct.pName}, '%')</if>
<!--            <if test="pImagePath != null  and pImagePath != ''"> and p_image_path = #{pImagePath}</if>-->
<!--            <if test="pModel != null  and pModel != ''"> and p_model = #{pModel}</if>-->
<!--            <if test="pIntroduce != null  and pIntroduce != ''"> and p_introduce = #{pIntroduce}</if>-->
        </where>
    </select>

    <select id="selectZkProductById" parameterType="Long" resultMap="ZkProductResult">
        <include refid="selectZkProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertZkProduct" parameterType="com.xf.project.db.domain.ZkProduct" useGeneratedKeys="true" keyProperty="id">
        insert into zk_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pType != null ">p_type,</if>
            <if test="pName != null  and pName != ''">p_name,</if>
            <if test="pImagePath != null  and pImagePath != ''">p_image_path,</if>
            <if test="pModel != null  and pModel != ''">p_model,</if>
            <if test="pIntroduce != null  and pIntroduce != ''">p_introduce,</if>
            <if test="lan != null  and lan != ''">lan,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pType != null ">#{pType},</if>
            <if test="pName != null  and pName != ''">#{pName},</if>
            <if test="pImagePath != null  and pImagePath != ''">#{pImagePath},</if>
            <if test="pModel != null  and pModel != ''">#{pModel},</if>
            <if test="pIntroduce != null  and pIntroduce != ''">#{pIntroduce},</if>
            <if test="lan != null  and lan != ''">#{lan},</if>
        </trim>
    </insert>

    <update id="updateZkProduct" parameterType="com.xf.project.db.domain.ZkProduct">
        update zk_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="pType != null ">p_type = #{pType},</if>
            <if test="pName != null  and pName != ''">p_name = #{pName},</if>
            <if test="pImagePath != null  and pImagePath != ''">p_image_path = #{pImagePath},</if>
            <if test="pModel != null  and pModel != ''">p_model = #{pModel},</if>
            <if test="pIntroduce != null  and pIntroduce != ''">p_introduce = #{pIntroduce},</if>
            <if test="lan != null  and lan != ''">lan = #{lan},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZkProductById" parameterType="Long">
        delete from zk_product where id = #{id}
    </delete>

    <delete id="deleteZkProductByIds" parameterType="String">
        delete from zk_product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
